# Основные библиотеки для работы с данными и визуализацией
matplotlib>=3.7.0
numpy>=1.24.0
pandas>=1.5.0

# Дополнительные библиотеки которые расширяют возможности Matplotlib
scipy>=1.10.0
seaborn>=0.12.0  # Построена на основе Matplotlib, предоставляет дополнительные стили и упрощает сложные визуализации

# Для работы с датасетами
kaggle>=1.5.0
scikit-learn>=1.2.0

# Для интерактивных графиков (опционально)
plotly>=5.0.0
ipywidgets>=8.0.0

# Для отображения в Jupyter
jupyter>=1.0.0
ipykernel>=6.0.0